
{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="page-content">
    <p>Pour des considérations environnementales, 
    EnceFAL vous permet de visualiser en ligne vos factures.
    Veuillez saisir le numero de votre facture, obtenu 
    auprès du personnel de la foire lors de votre transaction.</p>

    <form action="" method="get" id="facture_form" class="form-inline">
        <label for="no_facture" class="control-label">Numéro de facture:
            <input id="no_facture" name="id" class="input-mini" size="16" type="text" value="">
            <button class="btn btn-primary" type="submit">Visualiser facture</button>
        </label>
    </form>
    {% if facture %}
    <div class="facture-wrap">
        <table class="table table-striped table-facture">
            <caption>Facture #{{ facture.id }} - {{ facture.date_creation }}</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ISBN</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Prix</th>
                </tr>
            </thead>
            {% for exemplaire in facture.exemplaires.all %}
            <tr>
                <td>{{ exemplaire.id }}</td>
                <td>{{ exemplaire.livre.isbn }}</td>
                <td>{{ exemplaire.livre.titre }}</td>
                <td>{{ exemplaire.livre.auteur }}</td>
                <td>{{ exemplaire.prix }} $</td>
            </tr>
            {% endfor %}
            <tfoot>
                <tr>
                    <td colspan="5">Total: {{ facture.prix_total }} $</td>
                </tr>
            </tfoot>
        </table>

    </div>
    {% endif %}
</div>

{% endblock %}

