{% extends "base.html" %}

{% block content %}
  <div class="page-content">

      <h1>Foire aux livres usagés de l'AESS</h1>
      <p>Venez vendre vos livres usagés ou en acheter à bas prix!</p>

      <h2>Horaire</h2>

      {% if current_session %}
        <p> La foire aux livres est présentement ouverte, et ce jusqu'au {{current_session.date_fin}}.</p>
      {% elif next_session %}
        <p> La foire aux livres est présentement fermée, mais ouvrira dès le {{next_session.date_debut}}.</p>
      {% else %}
        <p> La foire aux livres est présentement fermée.</p>
      {% endif %}

      <h2>Emplacement</h2>
      <p>Dans le hall du pavillon SH, à côté du café Sain Fractal.</p>

      <h2>Procédure pour vendre des livres:</h2>
      <ul>
          <li>Dès le début de la foire aux livres, présentez-vous avec vos livres dans le hall du SH, au comptoir de la foire.</li>
          <li>Enregistrez-vous, ainsi que vos livres, auprès du ou de la commis.</li>
          <li>Choisissez un moment pour venir chercher vos livres/chèque et revenez à cette date convenue au même endroit.
      </ul>

      <h2>Livres en vente à la foire aux livres</h2>
      <p>Vous pouvez désormais consulter la liste des livres en vente à la foire aux livres, en temps réel dans la section <a href="/livres">Livres</a></p>

  </div>
{% endblock content %}
