{% extends "base.html" %}

{% block content %}
  <div class="page-content">

      <h2>Foire aux livres usagés de l'AESS!</h2>
      <p>Venez vendre vos livres usagés ou en acheter à bas prix!</p>

      <p>
      Pour vendre vos livres, vous n’avez qu’à vous présenter à la foire 
      avec ceux-ci. Un-e commis prendra en note vos coordonnées, 
      ainsi que vos livres, et vous pourrez les vendre au prix de votre choix!
      </p>
      <hr>

      <h4>Emplacement</h4>

      <p>Dans le hall du pavillon SH, à côté du café Sain Fractal.</p>

      <h4>Horaire pour la session d'automne 2013: </h4>

      <h5>Dépôt et vente de livres* :</h5>
      <p>Du 4 au 17 septembre 2013, de 10h30 à 17h30</p>
      <p><small>N.B. le vendredi 13 septembre, la foire fermera exceptionnellement à 15h.</small></p>

      <h4>Remise des chèques et des livres non vendus** :</h4>
      <ul>
          <li>mercredi 18, 10h-18h</li>
          <li>jeudi 19, 10h-14h</li>
          <li>vendredi 20, 10h-14h</li>
          <li>lundi 23, 10h-18h</li>
          <li>mardi 24, 10h-14h</li>
          <li>mercredi 25, 10h-14h</li>
      </ul>

      <p>* Vous aurez besoin de votre carte étudiante pour déposer des livres et 
      venir récuperer vos livres non-vendus et votre chèque.</p>
      <p>** Cette période est obligatoire pour la récuperation de vos livres/chèque.
       Après la foire, nous ne pouvons pas garantir de période de remise.</p>
      <hr>

      <h4>Procédure pour vendre des livres:</h4>
      <ul>
          <li>Dès le 4 septembre, présentez-vous avec vos livres dans le hall du SH, au comptoir de la foire.</li>
          <li>Enregistrez-vous, ainsi que vos livres, auprès du ou de la commis.</li>
          <li>Choisissez un moment pour venir chercher vos livres/chèque et revenez à cette date convenue au même endroit.
      </ul>

  </div>
{% endblock content %}
