{% extends 'admin/base_site.html' %}
 
{% block title %}Encefal{% endblock %}
{% block sous_titre %}{{ vendeur.nom }}, {{ vendeur.prenom }}{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="/admin/">Accueil</a> &rsaquo;
    <a href="/admin/encefal">Encefal</a> &rsaquo;
    <a href="/admin/encefal/vendeur">Vendeurs</a> &rsaquo;
    {{ vendeur.nom }}, {{ vendeur.prenom }} 
</div>
{% endblock %}
{% block extrahead %}
 
{{ form.media }}
{% endblock %}
{% block content %}
<div id="content-main"> 
    {% block object-tools %}{% endblock %}
    <h1>Foire aux livres de l'AESSUQAM</h1>
    <h2>Informations du vendeur</h2>
    <ul>
        <li>Nom: {{ vendeur.nom }}</li>
        <li>Prénom: {{ vendeur.prenom }}</li>
        <li>Code permanent: {{ vendeur.code_permanent }}</li>
        <li>Courriel: {{ vendeur.email }}</li>
        <li>Téléphone: {{ vendeur.telephone }} </li>
    </ul>
    <h2>Liste des livres</h2>
<form action="" method="post">{% csrf_token %}
    <div class="module"> 

        <table id="livre"> 
        <h2>Date: {{ date }}</h2>
            <tr>
                <th>No identification:</th>
                <th>ISBN:</th>
                <th>Titre:</th>
                <th>Auteur:</th>
                <th>Année:</th>
                <th>Prix:</th>
                <th>État:</th>
            </tr>
        {% for livre in livres %}
            <tr> 
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>Non disponible</td>
                <td>{{ livre.auteur }}</td>
                <td>{{ livre.annee }}</td>
                <td>{{ livre.prix|floatformat:"2" }} $</td>
                <td>{{ livre.get_etat_display }}</td>
            </tr>
        {% endfor %}
        </table>
    </div> 
    <div class="submit-row" style="float:right; clear: both">
       <a style="margin: 2px 0;padding: 3px;vertical-align: middle;font-family: 'Lucida Grande', Verdana, Arial,
           sans-serif;font-weight: normal;font-size: 11px;background: #7CA0C7
           url(/media/img/admin/default-bg.gif) bottom repeat-x; background-position: top; display: block; border: 2px
           solid #5B80B2; background: #7CA0C7 url(/media/img/admin/default-bg.gif) bottom repeat-x; font-weight: bold;
           color: white; float: left;margin-right: 5px;" href="{% url admin:encefal_vendeur_change vendeur.id %}">Modifier l'état des livres</a> <input style="float:left;" type="submit" name="_save" class="default" value="Terminer">
    </div>
</form>
<p style="color: green; font-weight:bold;">Montant remis au vendeur: {{ total|floatformat:"2" }}$</p>
<div id="contrat" style="margin-top: 50px;">
    <!--<h2>Contrat</h2>
    <p>
    Écrire contrat ici
    </p>
    -->
    <h3 style="margin-bottom: 40px;">Signatures</h3>
    <p>__________________________________</p>
    <p style="margin-bottom: 30px;">Vendeur</p>
    <p>__________________________________</p>
    <p>Responsable</p>
</div>
</div> 
 
{% endblock %}  
