{% extends 'base.html' %}
{% block content %}
<style>
    table, td, th{

    }

    td, th {
        padding:15px;
    }

</style>
<table class="table table-hover livres">
    <thead>
        <th>ISBN</th>
        <th>Titre</th>
        <th>Prix Moyen</th>
        <th>Quantité</th>
    </thead>
    <tbody>
        {% for livre in livres %}
        <tr>

            <td>{{ livre.isbn }}</td> 

            <td>{{ livre.titre }}</td> 

	    {% if livre.prix_moyen %}
            <td>{{ livre.prix_moyen|floatformat:2 }}$</td> 
	    {% else %}
            <td>N.A.</td> 
	    {% endif %}

	    {% if livre.quantite %}
            <td>{{ livre.quantite }}</td> 
	    {% else %}
            <td>N.A.</td> 
	    {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}  
