
{% extends 'base.html' %}
{% block content %}

<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
	function go_rapport(){
		ladate= $("#date").val();
		window.open('/rapport_date/'+'?date='+ladate);
	}
	$(function() {
    $( "#date" ).datepicker({
    	dateFormat:"yy-mm-dd"
    });
  });
</script>
<style type="text/css">
table td{ 
	padding: 5px;
}
</style>
<h1>Rapport</h1>


<input id="date" type="text">
<a class="btn btn-primary btn-large" onclick="go_rapport();">Voir rapport</a>	
{% endblock %}

