/* General
-------------------------------------------------------------- */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  padding-top: 40px;
  position: relative;
}

/* Buttons
-------------------------------------------------------------- */
.btn {
  text-transform: uppercase;
}

/* Page Content
-------------------------------------------------------------- */
.page-content {
  padding-top: 30px;
}

/* Index employee page
-------------------------------------------------------------- */
.first-action-container {
  text-align: center;
  margin-top: 250px;
}

.first-action-container .btn {
  font-weight: 700;
  margin: 0 30px;
  padding: 20px 30px;
}

