{% extends "admin/base_site.html" %}

{% block content %}
  <div class="primary-action-container action-container">

      <a href="{% url 'admin:encefal_reception_add' %}" 
         class="btn btn-inverse btn-large btn-add-book">
      <i class="icon-plus-sign icon-white"></i>
      Ajouter livre(s)
    </a>

    <a href="{% url 'admin:encefal_vente_add' %}"
       class="btn btn-primary btn-large btn-sell-book">
      <i class="icon-shopping-cart icon-white"></i>
      Vendre livre(s)
    </a>

    <a href="{% url 'admin:encefal_vente_changelist' %}"
       class="btn btn-primary btn-large  btn-danger btn-cancel-sell">
      <i class="icon-remove-sign icon-white"></i>
      Annuler vente(s)
    </a>
  </div>
  <div class="action-container">
    <a href="{% url 'admin:encefal_exemplaire_changelist' %}"
       class="btn btn-primary btn-large btn-info btn-report">
      <i class="icon-book icon-white"></i>
      Voir exemplaires
    </a>
  {% if user.is_superuser %}
    <a href="{% url 'rapport' %}"
       class="btn btn-primary btn-large btn-info btn-report">
      <i class="icon-list-alt icon-white"></i>
      Voir rapports des ventes
    </a>
  {% endif %}
  </div>
{% endblock content %}
